html,
body {
  margin: 0;
}
canvas,
.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
main {
  background-color: #202020a0;
  text-align: center;
  font-family: "Consolas";
  color: white;
  width: 70%;
  height: 70%;
}
h1 {
}
#theme {
  width: 100%;
  border-style: none;
}
.web-tab {
  color: white;
  font-weight: bolder;
}
.web-tab:visited {
  color: white;
}
#content {
  text-align: left;
  margin-inline: 2%;
}
